<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="MonoAndroid50" />
  <package id="OxyPlot.Core" version="2015.1.889-alpha" targetFramework="MonoAndroid50" />
  <package id="OxyPlot.Xamarin.Android" version="2015.1.889-alpha" targetFramework="MonoAndroid50" />
  <package id="OxyPlot.Xamarin.Forms" version="2015.1.889-alpha" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net.Async-PCL" version="3.0.5" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="MonoAndroid50" />
  <package id="Toasts.Forms.Plugin" version="1.0.6.18" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Forms" version="1.4.2.6359" targetFramework="MonoAndroid50" />
</packages>