<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.2.3" android:versionCode="1" package="com.vasileiossam.oneset" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="23" />
	<application android:label="One Set To Fatigue" android:icon="@drawable/icon" android:theme="@style/MyTheme"></application>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>