<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.1.0" android:versionCode="1" package="com.unclejacar.oneset">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21" />
	<application android:label="One Set To Fatigue" android:theme="@android:style/Theme.Holo.Light" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
</manifest>